<div class="modal fade" id="createReferralModal" tabindex="-1" aria-labelledby="createReferralModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createReferralModalLabel">Edit Referral Offer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/referalOffers" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" style="max-width: 300px;" required value="<%= editReferralOffer.title %>">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description" style="max-width: 500px;" required><%= editReferralOffer.description %></textarea>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="startDate" class="form-label">Start Date:</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required value="<%= editReferralOffer.startDate.toISOString().split('T')[0] %>">
                        </div>
                        <div class="col-md-6">
                            <label for="endDate" class="form-label">End Date:</label>
                            <input type="date" class="form-control" id="endDate" name="endDate" required value="<%= editReferralOffer.endDate.toISOString().split('T')[0] %>">
                        </div>
                    </div>
                    <hr class="my-4">
                    <h2 class="mb-3">Referral Offer Details</h2>
                    <div class="mb-3">
                        <label for="referredUserReward" class="form-label">Referred User Reward:</label>
                        <div class="input-group">
                            <span class="input-group-text">Rs:</span>
                            <input type="number" class="form-control" id="referredUserReward" name="referredUserReward" style="max-width: 150px;" required value="<%= editReferralOffer.referredUserReward %>">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="referringUserReward" class="form-label">Referring User Reward:</label>
                        <div class="input-group">
                            <span class="input-group-text">Rs:</span>
                            <input type="number" class="form-control" id="referringUserReward" name="referringUserReward" style="max-width: 150px;" required value="<%= editReferralOffer.referringUserReward %>">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit Referral Offer</button>
                </form>
            </div>
        </div>
    </div>
</div>
