<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/admin/css1/main.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img src="/admin/imgs/theme/logo.png" class="logo" alt="Admin Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/user-details"> <i class="icon material-icons md-person"></i>
                        <span class="text">User Details</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>

                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons?page=1"> <i
                            class="icon material-icons material-icons md-card_giftcard"></i>
                        <span class="text">Coupons</span>
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/offers?page=1"> <i
                            class="icon material-icons material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>

                </li>
                <!--                 
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sales</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
            
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Banners</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li>
                  -->
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/logout"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">

            <!-- Category Offers -->
            <div class="card mb-4">
                <div class="card-body">
                    <div style="border: 2px; border-color: black;">
                        <% if (!categoryOffers || categoryOffers.length> 0 ) { %>
                            <div class="content-header">
                                <div>
                                    <h3 class="content-title card-title">Categories Offer</h3>
                                </div>
                                <div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#createCategoryModal"
                                        class="btn btn-primary btn-sm rounded">Create
                                        Category Offer</a>
                                </div>
                            </div>
                            <table class="table category-offers mb-4">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Category</th>
                                        <th>Discount Percentage</th>
                                        <th class="text-center" width="10%">Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (cOffers) {%>
                                        <% cOffers.forEach(offer=> { %>
                                            <tr>
                                                <td>
                                                    <%= offer.title %>
                                                </td>

                                                <td>
                                                    <%= new Date(offer.startDate).toLocaleDateString() %>
                                                </td>
                                                <td>
                                                    <%= new Date(offer.endDate).toLocaleDateString() %>
                                                </td>
                                                <td>
                                                    <%= offer.categoryOffer.category.categoryName %>
                                                </td>
                                                <td>
                                                    <%= offer.categoryOffer.discountPercentage %> %
                                                </td>
                                                <td class="text-center" data-offer-id="<%= offer._id %>">
                                                    <span
                                                        class="badge  rounded-pill alert-<%= offer.isActive === true ? 'success' : 'danger' %>">
                                                        <%= offer.isActive===false ? 'Inactive' : 'Active' %>
                                                    </span>
                                                </td>
                                                <td class="text-center" td[data-offer-id="<%= offer._id %>">
                                                    <button id="toggleButton" onclick="toogleStatus('<%= offer._id %>')"
                                                        class="btn rounded btn-sm font-sm btn-brand">Change Status
                                                    </button>
                                                </td>

                                            </tr>
                                            <% }) %>
                                                <% } %>
                                </tbody>
                            </table>
                            <% } %>
                    </div>
                </div>
            </div>
            <!-- Add Category Offer Modal -->
            <div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createCategoryModalLabel">Create New Category Offer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/add-category-offer" method="post">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title:</label>
                                    <input type="text" id="title" name="title" class="form-control"
                                        style="max-width: 300px;" required>
                                    <p id="title-error" class="error-message" style="color: red;"></p>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="startDate" class="form-label">Start Date:</label>
                                        <input type="date" id="startDate" name="startDate" class="form-control"
                                            required>
                                        <p id="startDate-error" class="error-message" style="color: red;"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="endDate" class="form-label">End Date:</label>
                                        <input type="date" id="endDate" name="endDate" class="form-control" required>
                                        <p id="endDate-error" class="error-message" style="color: red;"></p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="category" class="form-label">Category:</label>
                                    <select id="category" name="category" class="form-select" style="max-width: 350px;"
                                        required>
                                        <% categories.forEach(category=> { %>
                                            <option value="<%= category._id %>">
                                                <%= category.categoryName %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <p id="category-error" class="error-message" style="color: red;"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="discountPercentage" class="form-label">Discount Percentage:</label>
                                    <input type="number" id="discountPercentage" name="discountPercentage"
                                        class="form-control" min="0" value="0" style="max-width: 150px;" required>
                                    <p id="discountPercentage-error" class="error-message" style="color: red;"></p>
                                </div>
                                <button type="submit" class="btn btn-primary">Add Category Offer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Category Offer Fetch Fn -->
            <script>
                document.querySelector('form[action="/add-category-offer"]').addEventListener('submit', async (e) => {
                    e.preventDefault();

                    const formData = new FormData(e.target);
                    const requestData = {};

                    for (const [key, value] of formData.entries()) {
                        requestData[key] = value;
                    }

                    try {
                        const response = await fetch('/admin/add-category-offer', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(requestData)
                        });

                        const data = await response.json();

                        if (response.ok) {
                            // Handle successful response
                            console.log('Category offer created:', data);

                            const modal = bootstrap.Modal.getInstance(document.getElementById('createCategoryModal'));
                            modal.hide();
                            window.location.reload()
                            req.session.toastMessage = "Category Offer Added";

                        } else {
                            // Handle error response
                            console.error('Error creating category offer:', data);
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
                });

                window.addEventListener('load', function () {
                    const toastMessage = '<%= typeof session !== "undefined" ? session.toastMessage : "" %>';
                    if (toastMessage) {
                        $.toast({
                            heading: 'Success',
                            text: "Category Offer Added",
                            showHideTransition: 'slide',
                            icon: 'success',
                            position: 'top-center',
                            hideAfter: 4000

                        });
                        delete req.session.toastMessage;

                    }
                });
            </script>

            <!-- Activate Category Offer Fetch Fn -->
            <script>
                const toogleStatus = async (offerId) => {
                    try {
                        const response = await fetch(`/admin/toggle-category-offer?id=${offerId}`, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        });

                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }

                        const data = await response.json();
                        console.log(data);

                        // Update the <td> element with the new status
                        const offerStatusTd = document.querySelector(`td[data-offer-id="${offerId}"] span.badge`);
                        const newStatus = data.isActive ? 'Active' : 'Inactive';
                        const badgeClass = data.isActive ? 'alert-success' : 'alert-danger';
                        offerStatusTd.classList.remove('alert-danger');
                        offerStatusTd.classList.add(badgeClass);
                        offerStatusTd.textContent = newStatus;

                        // Update the action button
                        const offerActionTd = document.querySelector(`td[data-offer-id="${offerId}"] div:last-child button`);
                        offerActionTd.textContent = data.isActive ? 'Deactivate' : 'Activate';
                        offerActionTd.removeEventListener('click', activateOffer);
                        offerActionTd.addEventListener('click', () => deactivateOffer(offerId));
                    } catch (error) {
                        console.error('Error:', error);
                    }
                };



            </script>

            <!-- Produts Offers -->
            <div class="card mb-4">
                <div class="card-body">
                    <div style="border: 2px; border-color: black;">
                        <% if (!productOffers || productOffers.length> 0 ) { %>
                            <div class="content-header">
                                <div>
                                    <h3 class="content-title card-title">Products Offer</h3>
                                </div>
                                <div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#createProductModal"
                                        class="btn btn-primary btn-sm rounded">Create
                                        Product Offer</a>
                                </div>
                            </div>
                            <table class="table category-offers mb-4">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Discount Percentage</th>
                                        <th>Category</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (categoryOffers) {%>
                                        <% categoryOffers.forEach(offer=> { %>
                                            <tr>
                                                <td>
                                                    <%= offer.title %>
                                                </td>
                                                <td>
                                                    <%= new Date(offer.startDate).toLocaleDateString() %>
                                                </td>
                                                <td>
                                                    <%= new Date(offer.endDate).toLocaleDateString() %>
                                                </td>
                                                <td>
                                                    <%= offer.categoryOffer.discountPercentage %>
                                                </td>
                                                <td>
                                                    <%= offer.categoryOffer.category.cName %>
                                                </td>
                                                <td>
                                                    <button onclick="toggleStatus('<%= offer._id %>')"
                                                        class="btn btn-<%= offer.isActive ? 'danger' : 'success' %>">
                                                        <%= offer.isActive ? 'Block' : 'Activate' %>
                                                    </button>
                                                </td>

                                            </tr>
                                            <% }) %>
                                                <% } %>
                                </tbody>
                            </table>
                            <% } %>
                    </div>
                </div>
            </div>

            <!-- Add Product Offer Modal -->
            <div class="modal fade" id="createProductModal" tabindex="-1" aria-labelledby="createProductModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createProductModalLabel">Create New Product Offer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/add-product-offer" method="post">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title:</label>
                                    <input type="text" class="form-control" id="title" name="title"
                                        style="max-width: 300px;" required>
                                    <p id="title-error" class="error-message" style="color: red;"></p>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="startDate" class="form-label">Start Date:</label>
                                        <input type="date" class="form-control" id="startDate" name="startDate"
                                            required>
                                        <p id="startDate-error" class="error-message" style="color: red;"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="endDate" class="form-label">End Date:</label>
                                        <input type="date" class="form-control" id="endDate" name="endDate" required>
                                        <p id="endDate-error" class="error-message" style="color: red;"></p>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <h4 class="mb-3">Product Offer Details</h4>

                                <div class="mb-3">
                                    <label for="selectedProducts" class="form-label">Select Products:</label>

                                    <div class="product-list">
                                        <% products.forEach(product=> { %>
                                            <div class="product-item">
                                                <input type="checkbox" id="<%= product._id %>"
                                                    value="<%= product._id %>" name="selectedProducts[]">
                                                <label for="<%= product._id %>">
                                                    <%= product.productName %>
                                                </label>
                                            </div>
                                            <% }); %>
                                    </div>
                                    <p id="selectedProducts-error" class="error-message" style="color: red;"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="discountPercentage" class="form-label">Discount Percentage:</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="discountPercentage"
                                            name="discountPercentage" style="max-width: 150px;" required>
                                        <span class="input-group-text">%</span>
                                    </div>
                                    <p id="discountPercentage-error" class="error-message" style="color: red;"></p>
                                </div>
                                <button type="submit" class="btn btn-primary">Create Product Offer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Product Offer Fetch Fn -->
            <script>
                document.querySelector('form[action="/admin/add-product-offer"]').addEventListener('submit', async (e) => {
                    e.preventDefault();

                    const formData = new FormData(e.target);
                    const requestData = {};

                    for (const [key, value] of formData.entries()) {
                        if (key === 'selectedProducts[]') {
                            if (!requestData.selectedProducts) {
                                requestData.selectedProducts = [];
                            }
                            requestData.selectedProducts.push(value);
                        } else {
                            requestData[key] = value;
                        }
                    }

                    try {
                        const response = await fetch('/admin/add-product-offer', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(requestData)
                        });

                        const data = await response.json();

                        if (response.ok) {
                            // Handle successful response
                            console.log('Product offer created:', data);

                            const modal = bootstrap.Modal.getInstance(document.getElementById('createProductModal'));
                            modal.hide();
                            window.location.reload();

                            // Show success message to user
                            showToastMessage("Product Offer Added");
                        } else {
                            // Handle error response
                            console.error('Error creating product offer:', data);
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
                });

                function showToastMessage(message) {
                    $.toast({
                        heading: 'Success',
                        text: message,
                        showHideTransition: 'slide',
                        icon: 'success',
                        position: 'top-center',
                        hideAfter: 4000
                    });
                }

            </script>

            <!-- Referral Offers -->
            <div class="card mb-4">
                <div class="card-body">
                    <div style="border: 2px; border-color: black;">
                        <% if (!categoryOffers || categoryOffers.length> 0 ) { %>
                            <div class="content-header">
                                <div>
                                    <h3 class="content-title card-title">Referral Offer</h3>
                                </div>
                                <div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#createReferralModal"
                                        class="btn btn-primary btn-sm rounded">Create
                                        Referral Offer</a>
                                </div>
                            </div>
                            <table class="table category-offers mb-4">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Discount Percentage</th>
                                        <th>Category</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <% } %>
                    </div>
                </div>
            </div>




        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©,
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/vendors/select2.min.js"></script>
    <script src="/admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin/js/main.js" type="text/javascript"></script>
    <script src="/admin/js/custom-chart.js" type="text/javascript"></script>

    <!-- $.toast plugins -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>





</body>



</html>