<%- include('../layouts/header.ejs') %>

    <div class="breadcrumb-area bg-gray-4 "> <!--addd to class for padding - "breadcrumb-padding-1"-->
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Cart</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Cart</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1">
            <img src="/user/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2">
            <img src="/user/images/banner/breadcrumb-2.png" alt="">
        </div>
    </div>
    <div class="cart-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="cart-table-content">
                            <div class="table-content table-responsive">
                                <table>
                                    <% if (cart.cartProducts.length===0) { %>
                                        <tr>
                                            <td colspan="6" style="text-align: center;">The cart is empty</td>
                                        </tr>
                                        <% } else { %>
                                            <thead>
                                                <tr>
                                                    <th class="width-thumbnail"></th>
                                                    <th class="width-name">Product</th>
                                                    <th class="width-price"> Price</th>
                                                    <th class="width-quantity">Quantity</th>
                                                    <th class="width-subtotal">Subtotal</th>
                                                    <th class="width-remove"></th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <% cart.cartProducts.forEach(product=> { %>
                                                    <tr>
                                                        <td class="product-thumbnail">
                                                            <a href="/product-details?id=<%=product._id %>"><img
                                                                    src="/productAssets/<%= product.product.images[0] %>"
                                                                    alt=""></a>
                                                        </td>
                                                        <td class="product-name">
                                                            <h5><a href="/product-details?id=<%=product._id %>">
                                                                    <%= product.product.productName %>
                                                                </a></h5>
                                                        </td>
                                                        <td class="product-cart-price"><span class="amount">₹ <%=
                                                                    product.product.productPrice %></span></td>
                                                        <td class="cart-quality">


                                                            <div class="quantity">
                                                                <button class="minus-btn"
                                                                    onclick="decreaseQuantity('<%=product.product._id%>', '<%=cart._id%>')">-</button>
                                                                <input type="text"
                                                                    id="quantity_<%=product.product._id%>" min="1"
                                                                    max="5" value="<%=product.quantity%>">
                                                                <button class="plus-btn"
                                                                    onclick="increaseQuantity('<%=product.product._id%>', '<%=cart._id%>')">+</button>
                                                            </div>





                                                        </td>
                                                        <td class="product-total"
                                                            id="subtotal_<%=product.product._id%>"><span>₹ <%=
                                                                    ((product.product.productPrice *
                                                                    product.quantity).toFixed(2)) %></span></td>
                                                        <td class="product-remove"><a href="#"><i
                                                                    class=" ti-trash "></i></a></td>
                                                    </tr>
                                                    <% }); %>
                                                        <% } %>
                                            </tbody>
                                            <style>
                                                .quantity {
                                                    display: flex;
                                                    align-items: center;
                                                }

                                                .quantity input[type="text"] {
                                                    width: 40px;
                                                    /* Adjust width as needed */
                                                    text-align: center;
                                                }

                                                .minus-btn,
                                                .plus-btn {
                                                    background-color: #ccc;
                                                    border: none;
                                                    padding: 5px 10px;
                                                    cursor: pointer;
                                                }

                                                .minus-btn:hover,
                                                .plus-btn:hover {
                                                    background-color: #aaa;
                                                }
                                            </style>
                                            <script>
                                                function decreaseQuantity(productId, cartId) {
                                                    var quantityInput = document.getElementById('quantity_' + productId);
                                                    var currentValue = parseInt(quantityInput.value);
                                                    if (currentValue > 1) {
                                                        quantityInput.value = currentValue - 1;
                                                        updateCart(productId, cartId, currentValue - 1);
                                                        $.toast({
                                                            heading: 'Success',
                                                            text: 'Product Quantity Decreased',
                                                            showHideTransition: 'slide',
                                                            position: 'top-center',
                                                            icon: 'success'
                                                        });
                                                    } else {
                                                        $.toast({
                                                            heading: 'Error',
                                                            text: 'Minimum one quantity is required',
                                                            showHideTransition: 'slide',
                                                            position: 'top-center',
                                                            icon: 'error'
                                                        });
                                                    }
                                                }

                                                function increaseQuantity(productId, cartId) {
                                                    var quantityInput = document.getElementById('quantity_' + productId);
                                                    var currentValue = parseInt(quantityInput.value);
                                                    var maxQuantity = 5; // Maximum quantity limit

                                                    if (currentValue < maxQuantity) {
                                                        quantityInput.value = currentValue + 1;
                                                        updateCart(productId, cartId, currentValue + 1);
                                                        $.toast({
                                                            heading: 'Success',
                                                            text: 'Product Quantity Increased',
                                                            showHideTransition: 'slide',
                                                            position: 'top-center',
                                                            icon: 'success'
                                                        });
                                                    } else {
                                                        $.toast({
                                                            heading: 'Error',
                                                            text: 'Maximum quantity limit reached',
                                                            showHideTransition: 'slide',
                                                            position: 'top-center',
                                                            icon: 'error'
                                                        });
                                                    }
                                                }

                                                function updateCart(productId, cartId, newQuantity) {
                                                    fetch('/cart/update-cart-quantity', {
                                                        method: 'POST',
                                                        headers: {
                                                            'Content-Type': 'application/json'
                                                        },
                                                        body: JSON.stringify({
                                                            productId: productId,
                                                            cartId: cartId,
                                                            quantity: newQuantity
                                                        })
                                                    })
                                                        .then(response => {
                                                            if (!response.ok) {
                                                                throw new Error('Network response was not ok');
                                                            }
                                                            return response.json();
                                                        })
                                                        .then(data => {
                                                            // Update the quantity input value
                                                            var quantityInput = document.getElementById('quantity_' + productId);
                                                            quantityInput.value = newQuantity;

                                                            // Update the subtotal for the specific product
                                                            var productSubtotal = document.getElementById('subtotal_' + productId);
                                                            productSubtotal.textContent = '₹ ' + (data.productSubtotal).toFixed(2);

                                                            // Update the total cart value
                                                            var cartTotalValue = document.getElementById('cart-total-value');
                                                            cartTotalValue.textContent = (data.cartTotal).toFixed(2);

                                                            console.log('Cart updated successfully:', data);
                                                        })
                                                        .catch(error => {
                                                            console.error('There was a problem updating the cart:', error);
                                                        });
                                                }


                                            </script>

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update btn-hover">
                                        <a href="#">Continue Shopping</a>
                                    </div>
                                    <div class="cart-clear-wrap">
                                        <!--   -->
                                        <div class="cart-clear btn-hover">
                                            <a href="#">Clear Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="tab-pane fade show active" id="address-content" role="tabpanel">
                        <div class="">
                            <% addresses.forEach(function(address, index) { %>
                            <div class="col-md-6 ">
                                <div class="myaccount-content">
                                    <h5>Address <%= index + 1 %></h5>
                                    <div class="row address-details">
                                        <div class="col-md-8">
                                            <p> <%= address.type %></p>
                                            <p> <%= address.name %></p>
                                            <p><%= address.house %></p>
                                            <p> <%= address.street %></p>
                                            <p> <%= address.city %></p>
                                            <p> <%= address.state %></p>
                                            <p> <%= address.mobile %></p>
                                            <p> <%= address.pincode %></p>
                                            <input type="radio">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cart-calculate-discount-wrap mb-40">
                        <h4>Coupon Discount </h4>
                        <div class="calculate-discount-content">
                            <p>Enter your coupon code if you have one.</p>
                            <div class="input-style">
                                <input type="text" placeholder="Coupon code">
                            </div>
                            <div class="calculate-discount-btn btn-hover">
                                <a class="btn theme-color" href="#">Apply Coupon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="grand-total-wrap">
                        <div class="grand-total-content">
                            <h3 id="cart-total">Subtotal: <span id="cart-total-value">₹ <%=cart.cartTotal.toLocaleString()%></span></h3>

                            <div class="grand-shipping">
                                <span>Shipping</span>
                                <ul>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Free
                                            shipping</label></li>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Flat
                                            rate: <span>$100.00</span></label></li>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Local
                                            pickup: <span>$120.00</span></label></li>
                                </ul>
                            </div>
                            <div class="shipping-country">
                                <p>Shipping to Bangladesh</p>
                            </div>
                            <div class="grand-total">
                                <h4>Total <span>$185.00</span></h4>
                            </div>
                        </div>
                        <div class="grand-total-btn btn-hover">
                            <a class="btn theme-color" href="checkout.html">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


    </script>

    <%- include('../layouts/footer.ejs') %>