<%- include('../layouts/header.ejs',{userId:userId}) %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nouislider/14.6.3/nouislider.min.css" />

    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a href="index">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Shop Standard </li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="/user/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="/user/images/banner/breadcrumb-2.png" alt="">
        </div>
    </div>
    <div class="shop-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <!-- Sidebar for sorting and filtering options -->

                    <!-- Sidebar for sorting and filtering options -->
                    <div class="sidebar">
                        <!-- <h3>Sort By</h3>
                        <ul>
                            <li><a href="/shop?page=1&sortBy=default">Default Sorting</a></li>
                            <li><a href="/shop?page=1&sortBy=A-Z">Sort by A-Z</a></li>
                            <li><a href="/shop?page=1&sortBy=Z-A">Sort by Z-A</a></li>
                            <li><a href="/shop?page=1&sortBy=Price high to low">Price high to low</a></li>
                            <li><a href="/shop?page=1&sortBy=Price low to high">Price low to high</a></li>
                            <li><a href="/shop?page=1&sortBy=latest">Sort by latest</a></li>
                        </ul>
                        <br>
                        <br> -->
                        <h4 class="text-center">Filter By </h4>
                        <!-- For category filters -->
                        <ul class="checkbox-list">
                            <h6 class="text-left">Category </h6>
                            <% allCategories.forEach(category=> { %>
                                <li class="checkbox-container">
                                    <input type="checkbox" id="<%= category._id %>" name="category"
                                        value="<%= category._id %>" <% if (filterByCategories &&
                                        filterByCategories.includes(category._id.toString())) { %> checked <% } %>>
                                        <label for="<%= category._id %>">
                                            <%= category.categoryName %>
                                        </label>
                                </li>
                                <% }) %>
                                    <hr>
                                    <h6 class="text-left">Stock </h6>
                                    <!-- For the "Out Of Stock" filter -->
                                    <li class="checkbox-container">
                                        <input type="checkbox" id="outofstock" name="outofstock" value="true" <% if
                                            (filterByOutOfStock) { %> checked <% } %>>
                                            <label for="outofstock"> Exclude Out Of Stock </label>
                                    </li>
                                    <hr>

                                    <h6 class="text-left">Price</h6>
                                    <div class="box border-bottom">

                                        <div class="" id="price">
                                            <div class="middle">
                                                <div class="multi-range-slider">
                                                    <input type="range" id="input-left" min="0" max="100000"
                                                        value="1000">
                                                    <input type="range" id="input-right" min="0" max="100000"
                                                        value="100000">
                                                    <div class="slider">
                                                        <div class="track"></div>
                                                        <div class="range"></div>
                                                        <div class="thumb left"></div>
                                                        <div class="thumb right"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-2">
                                                <div> ₹ <span id="amount-left" class=""></span></div>
                                                <div> ₹ <span id="amount-right" class=""></span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <button id="applyFiltersBtn" class="applybtn btn-primary">Apply Filters</button>
                        </ul>
                    </div>





                </div>
                <style>
                    input[type="checkbox"] {
                        /* Define your desired color */
                        accent-color: #e97730;
                    }

                    .text-left {
                        padding-left: 14px;
                        font-weight: 600;
                    }

                    .applybtn {
                        margin-left: 52px;
                        background-color: #e97730;
                        border: none;
                        padding: 10px 15px 10px;
                        margin-top: 14;

                    }

                    .applybtn:hover {
                        background-color: #b64d0c;

                    }

                    .sidebar {
                        border: 1px solid #ccc;
                        /* Add a 1px solid border with a color of #ccc */
                        padding: 10px;
                        margin-left: -126px;
                        margin-right: 40px;
                        /* Add some padding to create space between the border and content */
                    }

                    /* Style for the checkbox list */
                    .checkbox-list {
                        list-style: none;
                        padding: 0;
                    }

                    /* Style for each checkbox container */
                    .checkbox-container {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        /* Adjust spacing between each checkbox */
                    }

                    /* Style for the checkbox input */
                    .checkbox-container input[type="checkbox"] {
                        margin-right: 0px;
                    }

                    /* Style for the category label */
                    .checkbox-container label {
                        font-weight: normal;
                        width: 726px;

                    }
                </style>
                <div class="col-lg-10">
                    <div class="row flex-row-reverse">
                        <div class="col-12">
                            <div class="shop-topbar-wrapper mb-40" id="shopContent">
                                <div class="shop-topbar-left">
                                    <div class="showing-item">
                                        <% if(allItems.length>0) {%>
                                            <% const startItem=(currentPage - 1) * perPage + 1; %>
                                                <% const endItem=Math.min(currentPage * perPage, totalCount); %>
                                                    <span>Showing <%= startItem %>–<%= endItem %> of <%= totalCount %>
                                                                    results</span>
                                                    <% } else { %>
                                                        <span>No results found</span>
                                                        <% } %>

                                    </div>

                                </div>
                                <div class="shop-topbar-right">
                                    <div class="shop-sorting-area">
                                        <form action="/shop" method="GET">
                                            <select class="nice-select nice-select-style-1" name="sortBy"
                                                onchange="this.form.submit()">
                                                <option value="default" <%=sortBy==='default' ? 'selected' : '' %>
                                                    >Default Sorting</option>
                                                <option value="A-Z" <%=sortBy==='A-Z' ? 'selected' : '' %>>Sort by A-Z
                                                </option>
                                                <option value="Z-A" <%=sortBy==='Z-A' ? 'selected' : '' %>>Sort by Z-A
                                                </option>
                                                <option value="Price high to low" <%=sortBy==='Price high to low'
                                                    ? 'selected' : '' %>>Price high to low</option>
                                                <option value="Price low to high" <%=sortBy==='Price low to high'
                                                    ? 'selected' : '' %>>Price low to high</option>
                                                <option value="latest" <%=sortBy==='latest' ? 'selected' : '' %>>Sort by
                                                    latest</option>
                                            </select>
                                        </form>
                                    </div>

                                    <div class="shop-view-mode nav">
                                        <a class="active" href="#shop-1" data-bs-toggle="tab"><i
                                                class=" ti-layout-grid3 " style="line-height: 2;"></i> </a>
                                        <a href="#shop-2" data-bs-toggle="tab" class=""><i class=" ti-view-list-alt "
                                                style="line-height: 2;"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-bottom-area">
                                <div class="tab-content jump">
                                    <div id="shop-1" class="tab-pane active">
                                        <div class="row">

                                            <% allItems.forEach(product=> { %>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                    <div class="product-wrap mb-35" data-aos="fade-up"
                                                        data-aos-delay="200">
                                                        <div class="product-img img-zoom mb-25">
                                                            <a href="/product-details?id=<%=product._id %>">
                                                                <img src="/productAssets/<%= product.images[0] %>"
                                                                    alt="">
                                                            </a>
                                                            <!-- <div class="product-badge badge-top badge-right badge-pink">
                                                            <span>-10%</span>
                                                        </div> -->
                                                            <input type="text" value="<%=product._id%>" hidden
                                                                class="form-control" id="product" name="product">

                                                            <div class="product-action-wrap">
                                                                <button class="product-action-btn-1"
                                                                    data-product-id="<%= product._id %>"
                                                                    title="Wishlist"><i class="pe-7s-like"></i></button>
                                                                <button class="product-action-btn-1" title="Quick View"
                                                                    data-product-id="<%= product._id %>"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModal">
                                                                    <i class="pe-7s-look"></i>
                                                                </button>
                                                            </div>
                                                            <!-- Inside your EJS template -->
                                                            <div class="product-action-2-wrap">
                                                                <button class="product-action-btn-2 add-to-cart-btn"
                                                                    data-product-id="<%= product._id %>"
                                                                    title="Add To Cart">
                                                                    <i class="pe-7s-cart"></i> Add to cart
                                                                </button>
                                                            </div>

                                                        </div>
                                                        <div class="product-content">
                                                            <h3><a href="/product-details?id=<%=product._id %>">
                                                                    <%=product.productName %>
                                                                </a></h3>
                                                            <div class="product-price">
                                                                <span class="old-price">₹ <%=( product.productPrice
                                                                        +(product.productPrice*(10/100)) ).toFixed(0)%>
                                                                </span>
                                                                <span class="new-price">₹ <%= product.productPrice %>
                                                                </span>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                                <% }); %>


                                        </div>
                                        <% if(allItems.length>0) { %>
                                            <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
                                                <ul>
                                                    <% for (let i=1; i <=totalPages; i++) { %>
                                                        <li><a class="<%= currentPage === i ? 'active' : '' %>"
                                                                href="/shop?page=<%= i %>&sortBy=<%= sortBy %>">
                                                                <%= i %>
                                                            </a></li>
                                                        <% } %>
                                                            <li><a class="next"
                                                                    href="/shop?page=<%= currentPage + 1 %>&sortBy=<%= sortBy %>"><i
                                                                        class="ti-angle-double-right"
                                                                        style="line-height: 2"></i></a></li>
                                                </ul>
                                                <% } %>
                                            </div>
                                    </div>
                                    <!-- <div id="shop-2" class="tab-pane">
                                        <div class="shop-list-wrap mb-30">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-5">
                                                    <div class="product-list-img">
                                                        <a href="product-details">
                                                            <img src="/user/images/product/product-5.png"
                                                                alt="Product Style">
                                                        </a>
                                                        <div class="product-list-badge badge-right badge-pink">
                                                            <span>-20%</span>
                                                        </div>
                                                        <div class="product-list-quickview">
                                                            <button class="product-action-btn-2" title="Quick View"
                                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                <i class="pe-7s-look"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-sm-7">
                                                    <div class="shop-list-content">
                                                        <h3><a href="product-details">Interior moderno render</a></h3>
                                                        <div class="product-price">
                                                            <span class="old-price">$70.89 </span>
                                                            <span class="new-price">$55.25 </span>
                                                        </div>
                                                        <div class="product-list-rating">
                                                            <i class=" ti-star"></i>
                                                            <i class=" ti-star"></i>
                                                            <i class=" ti-star"></i>
                                                            <i class=" ti-star"></i>
                                                            <i class=" ti-star"></i>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Praesent tristique bibend est a fermentum. Cras faucibus ex
                                                            quis justo consectetur eleifend in eget diam.</p>
                                                        <div class="product-list-action">
                                                            <button class="product-action-btn-3" title="Add to cart"><i
                                                                    class="pe-7s-cart"></i></button>
                                                            <button class="product-action-btn-3" title="Wishlist"><i
                                                                    class="pe-7s-like"></i></button>
                                                            <button class="product-action-btn-3" title="Compare"><i
                                                                    class="pe-7s-shuffle"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="pagination-style-1">
                                            <ul>
                                                <li><a class="active" href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nouislider/14.6.3/nouislider.min.js"></script>
    <script>
        document.querySelectorAll('.add-to-cart-btn').forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-product-id');
                addToCart(productId);
            });
        });

        function addToCart(productId) {
            // Here you can implement your logic to add the product to the cart
            console.log('Adding product to cart:', productId);

            fetch('/add-to-cart?user=<%=userId%>', {
                method: 'POST',
                body: JSON.stringify({
                    productId: productId,
                    userId: "<%=userId%>"
                }),
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(response => {
                if (response.ok) {
                    $.toast({
                        heading: 'Success',
                        text: 'Product added to cart successfully',
                        position: 'top-center',
                        showHideTransition: 'slide',
                        icon: 'success'
                    })
                } else if (response.status === 401) {
                    $.toast({
                        heading: 'Error',
                        text: 'Maximum Quantity Per Order Reached',
                        showHideTransition: 'fade',
                        position: 'top-center',
                        icon: 'error'
                    })

                } else if (response.status === 405) {
                    $.toast({
                        heading: 'Error',
                        text: 'Insufficient stock available',
                        showHideTransition: 'fade',
                        position: 'top-center',
                        icon: 'error'
                    })
                } else {
                    $.toast({
                        heading: 'Error',
                        text: 'Error adding product to cart',
                        showHideTransition: 'fade',
                        position: 'top-center',
                        icon: 'error'
                    })

                    showToast("Error adding product to cart");
                }
            }).then(data => {
                cartQuantity = data.cartQty;
                updateCartQuantity()
            }).catch(error => {
                console.error("Error adding product to cart:", error);
                showToast("Error adding product to cart");
                $.toast({
                    heading: 'Error',
                    text: 'Error adding product to cart',
                    showHideTransition: 'fade',
                    position: 'top-center',
                    icon: 'error'
                })
            });
        }
        let cartQuantity = 0;

        // Function to update the cart quantity element
        function updateCartQuantity() {
            document.getElementById('cartItemCount').textContent = cartQuantity;
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const applyFiltersBtn = document.getElementById('applyFiltersBtn');
            if (applyFiltersBtn) {
                applyFiltersBtn.addEventListener('click', applyFilters);
            }

            // Set initial values for the price slider based on the current URL parameters
            const urlParams = new URLSearchParams(window.location.search);
            const priceParam = urlParams.get('price');
            if (priceParam) {
                const [minPrice, maxPrice] = priceParam.split(',');
                document.getElementById('input-left').value = minPrice;
                document.getElementById('input-right').value = maxPrice;
                updatePriceRangeLabels(minPrice, maxPrice);
            }

            const searchForm = document.getElementById('searchForm');
            if (searchForm) {
                searchForm.addEventListener('submit', function (event) {
                    event.preventDefault();
                    const searchInput = document.getElementById('searchInput').value.trim();
                    const queryParams = new URLSearchParams(window.location.search);
                    queryParams.set('search', searchInput);
                    window.location.href = `/shop?page=1&sortBy=${document.querySelector('select[name="sortBy"]').value}&${queryParams}`;
                });
            }
        });

        function applyFilters() {
            const selectedCategories = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(checkbox => checkbox.value);
            const queryParams = new URLSearchParams(window.location.search);

            // Add search query parameter if it exists
            const searchInput = document.getElementById('searchInput').value.trim();
            if (searchInput) {
                queryParams.set('search', searchInput);
            }

            if (selectedCategories.length > 0) {
                queryParams.set('category', selectedCategories.join(','));
            } else {
                queryParams.delete('category');
            }

            // Check if the "Out Of Stock" checkbox is checked
            const outOfStockCheckbox = document.getElementById('outofstock');
            if (outOfStockCheckbox.checked) {
                queryParams.set('outOfStock', true);
            } else {
                queryParams.delete('outOfStock');
            }

            const minPrice = document.getElementById('input-left').value;
            const maxPrice = document.getElementById('input-right').value;
            queryParams.set('price', `${minPrice},${maxPrice}`);

            // Construct the new URL with the search query and applied filters
            let newUrl = `/shop?page=1&sortBy=${document.querySelector('select[name="sortBy"]').value}`;
            if (queryParams.toString()) {
                newUrl += `&${queryParams.toString()}`;
            }
            window.location.href = newUrl;
        }

    </script>
    <%- include('../layouts/footer.ejs') %>